<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Angular Exercise 2</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>	
	<script type="text/javascript" src="scripts2.js"></script>

</head>
<body ng-controller="myController">

	<li ng-repeat="city in cities track by $index">
		<a href="" ng-click="removeStudent($index)">{{city.name}} - {{city.population}}</a>
	</li>
 
</body>
</html>